@import "tailwindcss";

.MuiBadge-badge {
  background-color: green !important;
}
body {
  background-color: #fff0f5;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ReactCollpase--collapse {
  transition: height 500ms ease-in-out;
}
